.editor-component-container {
  width: 82vw;
  min-width: 260px;
}

.ql-editor {
  font-size: 1.8rem; /* Cambia 'medium' por el tamaño que prefieras como predeterminado */
}

@media only screen and (min-width: 767px) {
  .editor-component-container {
    min-width: 60vw;
  }
}


