.entries {
  font-size: 0.5rem;
  margin: 10px;
}

.main-title {
  color: white;
  font-size: 1.5rem;
}

.entry {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 0 20px;
  background-color: #fbff00;
  box-shadow: 0px 0px 7px #f4f765;
  font-size: 12px;
}

.entry p{
  text-align: start;
}

.entry h2{
  text-align: start;
  color: var(--dark-color);
}

.entry h1{
  text-align: start;
  font-size: 1.2rem;
}

.entry-img {
  max-width: 200px;
  border-radius: 10px;
}

.delete-button {
  background-color: rgba(255, 0, 0, 0.911);
  padding: 10px 3px;
  margin: 0 0 15px 0;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.411);
  color: white;
}

@media only screen and (min-width: 767px) {

  .entry {
    max-width: 700px;
    padding: 10px 130px 10px 30px;
    margin: 40px 0;
  }

  .delete-button {
    max-width: 300px;
    margin: 20px 0;
  }

  .entry-img {
    max-width: 300px;
  }
}
